/* Styling sheet for index.html */

#background-transition {
    transition: ease-in-out;
}

header {
    background-color: orange;
}

nav {
    padding-top: 2px;
}
h1 {
    padding: 5px 5px 5px 10px;
}

nav {
    border-bottom: 3px solid rgb(216, 210, 210);
    
}
.navBar {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rebeccapurple;
    padding: 0.3em;
}

.navBar a {
    color: seashell;
}

.navBar a:hover {
    color:tomato;
}

header div {
    display: flex;
    justify-content: center;
}

.profile-img {
    margin: 30px;
    width: 300px;
    height: 300px;
    border-radius: 10em;
    border: 3px solid white;
    transition: all .125s;
    position: relative;
}
/* rotate(360deg)*/
.profile-img:hover {
    transform: scale(1.1);
}

body {
    margin: 0px;
    text-align: justify;
    color: rgb(10, 9, 9);
    padding: 20px;
    }
#about {
    padding: 20px 5px 5px 5px;
}

main {
    margin: 0.02em;
}

#experience {
    background-color: #cf89bc;
    border: 1px solid gray;
}

#connect a {
    font-size: large;
    color: royalblue;
    text-decoration: underline;
}

button {
    cursor: pointer;
}

li > button {
    margin-left: 10px;
}

footer {
    text-align: center;
    color: slategray;
}