/* Styling sheet for index.html */

nav {
    width: 97%;
    height: 210px;
    border-bottom: 2px solid black;
}
.navBar {
    font-size: larger;
    font-weight: bold;
    display: flex;
    vertical-align: baseline;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 100px;
    margin-top: 180px;
}
.navBar a:hover {
    color:rgb(75, 219, 176)
}
body {
    text-align: justify;
    background-color: rgb(250, 250, 250);
    position: initial;
}
.about {
    padding: 20px 5px 5px 5px; 
}